@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
.top-container{
   width: 100%;
}
.top-image{
    width: 100%;
}
.clip-path{
   width: 350px;
   margin-top: 0px;
   margin-left: 0px;
}
.mobile-frame{
    width: 200px;
    margin-top: 0px;
    margin-left: 0px;
}

.logo-img{
    width: 100px;
    margin-left: 20px;
}
.nav{
    margin-left:0px;
}
#nav-content{
    font-size: 10px;
    padding-left: 0px;
    
}
.contact-button{
    background-color: #00005B;
    color:white;
    width: 80px;
    height: 30px;
    border-radius: 20px 0px 20px 20px;
    margin-left: 20px;
    margin-top: -50px;
    border: none;
}

.hire-form{
    background-image: linear-gradient(to right,#6DA75D,#277A25);
    width: 400px;
    height: 320px;
    border-radius: 30px;
    margin-left: 50px;
    margin-top: -400px;
}
.hire-form .heading{
    color: white;
    text-align: center;
}
.hire-form input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-left: 40px;
    border: none;
}

.middle-container{
    background-color: #F5FFF3;
    margin-top: 50px;
}
.laptop-frame{
    width: 350px;
    float: left;
    margin-left: 100px;
    margin-top: 20px;
    background-color: #F5FFF3;
}
.node-frame{
    background-color: #F5FFF3;
    width: 70px;
    margin-left: -110px;
    margin-top: 40px;
}
.middle-container .middle-content{
    background-color: #F5FFF3;
    width: 650px;
    float: right;
    margin-right: 50px;
    margin-top: -60px;
}
.middle-content p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.python-content{
    margin-top: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    
}
.python-content .python-card{
    background-color: #F6F6F6;
    box-shadow:rgb(125, 124, 124) 2px 2px 2px 2px;
    width: 300px;
    height: 250px;
    border-radius: 30px;
    
}
.python-card:hover{
    background-image: linear-gradient(to right,#6DA75D,#277A25);
    color: white; 
}

@media screen and (min-width:768px) {
    .top-container{
        width: 100%;
     }
     .top-image{
         width: 100%;
     }
     .clip-path{
        width: 200px;
        margin-top: -400px;
        margin-left: 550px;
     }
     .mobile-frame{
         width: 250px;
         margin-top: -330px;
         margin-left: 380px;
     }
     .logo-img{
        width: 80px;
        margin-left: 10px;
    }
    .nav{
        margin-right: 10px;
    }
    #nav-content{
        font-size: 10px;
        padding-left:0px;
    }
    .contact-button{
        background-color: #00005B;
        color:white;
        width: 80px;
        height: 30px;
        border-radius: 10px 0px 10px 10px;
        margin-left: -10px;
    }
    .hire-form{
        background-image: linear-gradient(to right,#6DA75D,#277A25);
        width: 250px;
        height: 200px;
        border-radius: 20px;
        margin-left: 50px;
        margin-top: -270px;
    }
    .hire-form .heading{
        color: white;
        text-align: center;
        font-size: 10px;
    }
    .hire-form input{
        width: 200px;
        height: 20px;
        border-radius: 50px;
        margin-left: 20px;
        font-size: 10px;
        margin-bottom: 10px;   
    }
    .submit-button{
        background-color: white;
        color:black;
        width: 60px;
        height: 20px;
        border-radius: 5px 0px 5px 5px;
        margin-left: 80px;
        border: none;
        font-size: 10px;
    }
    .middle-container{
        background-color: #F5FFF3;
        margin-top: 10px;
    }
    .laptop-frame{
        width: 280px;
        float: left;
        margin-left: 50px;
        margin-top: 50px;
        background-color: #F5FFF3;
    }
    .node-frame{
        background-color: #F5FFF3;
        width: 50px;
        margin-left: -90px;
        margin-top: 65px;
    }
    .middle-container .middle-content{
        background-color: #F5FFF3;
        width: 350px;
        float: right;
        margin-right: 30px;
        margin-top: -50px;
    }
    .middle-content h4{
        font-size: 14px;

    }
    .middle-content p{
        font-size: 10px;
    
    }
    .python-content{
        margin-top: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        
    }
    .python-content p{
        font-size: 10px;
        text-align: center;
    }
    .python-content .python-card{
        background-color: #F6F6F6;
        box-shadow:rgb(125, 124, 124) 2px 2px 2px 2px;
        width: 250px;
        height: 200px;
        border-radius: 30px;
        color: #277A25;
        
    }
    .python-card:hover{
        background-image: linear-gradient(to right,#6DA75D,#277A25);
        color: white; 
    }
    .python-card img{
        margin-left: 20px;
        margin-top: 20px;
        color: #277A25;
     }
     .python-card h6{
        margin-left: 20px;
        font-size: 12px;
        padding: 10px;
        text-align: justify;
     }
     .python-card p{
        font-size: 10px;
        margin-left: 20px;
        margin-right: 0;
        padding: 10px;
        text-align: justify;
     }
     

    
}

@media screen and (min-width:1024px) {
    .top-container{
        width: 100%;
     }
     .top-image{
         width: 100%;
     }
     .clip-path{
        width: 350px;
        margin-top: -600px;
        margin-left: 900px;
     }
     .mobile-frame{
         width: 500px;
         margin-top: -550px;
         margin-left: 550px;
     }
     
     .logo-img{
         width: 150px;
         margin-left: 100px;
     }
     .nav{
         margin-left: 100px;
     }
     #nav-content{
         font-size: 14px;
         padding-left: 10px;
     }
     .contact-button{
         background-color: #00005B;
         color:white;
         width: 120px;
         height: 30px;
         border-radius: 20px 0px 20px 20px;
         margin-left: 20px;
     }
     
     .hire-form{
         background-image: linear-gradient(to right,#6DA75D,#277A25);
         width: 400px;
         height: 320px;
         border-radius: 30px;
         margin-left: 50px;
         margin-top: -400px;
     }
     .hire-form .heading{
         color: white;
         text-align: center;
         font-size: 10px;

     }
     .hire-form input{
         width: 300px;
         height: 40px;
         border-radius: 10px;
         margin-left: 40px;
         margin-bottom: 30px;
         font-size: 14px;
     }
     .submit-button{
        background-color: white;
        color:black;
        width: 100px;
        height: 30px;
        border-radius: 10px 0px 10px 10px;
        margin-left: 130px;
        border: none;
        font-size: 10px;
    }
     
     .middle-container{
         background-color: #F5FFF3;
         margin-top: 50px;
     }
     .laptop-frame{
         width: 350px;
         float: left;
         margin-left: 100px;
         margin-top: 20px;
         background-color: #F5FFF3;
     }
     .node-frame{
         background-color: #F5FFF3;
         width: 70px;
         margin-left: -110px;
         margin-top: 40px;
     }
     .middle-container .middle-content{
         background-color: #F5FFF3;
         width: 650px;
         float: right;
         margin-right: 50px;
         margin-top: -60px;
     }
     .middle-content h4{
        font-size: 22px;
     }
     .middle-content p{
         font-size: 14px;
     }
     
     .python-content{
         margin-top: 350px;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         gap: 30px;
         
     }
     .python-content p{
        font-size: 14px;
        text-align: justify;
     }
     .python-content .python-card{
         background-color: #F6F6F6;
         color: #277A25;
         box-shadow:rgb(125, 124, 124) 2px 2px 2px 2px;
         width: 300px;
         height: 240px;
         border-radius: 30px;
         
     }
     .python-card:hover{
         background-image: linear-gradient(to right,#6DA75D,#277A25);
         color: white; 
     }
     .python-card img{
        margin-left: 20px;
        margin-top: 20px;
        color: #277A25;
     }
     .python-card h6{
        margin-left: 20px;
        padding: 10px;
        text-align: justify;
     }
     .python-card p{
        font-size: 14px;
        margin-left: 20px;
        padding: 10px;
     }
     

}